.search-container {
    text-align: center;
    padding: 30px;
  }
  .page-container {
    margin-top: 90px; 
  }
  .page-wrapper {
    margin-top: 5px;
    padding: 20px;
  }
  .search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .search-bar input {
    width: 350px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 6px;
    margin-right: 10px;
  }
  
  .search-bar button {
    padding: 10px 20px;
    background: #2b8cff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .search-text {
    margin: 10px;
    font-size: 18px;
  }
  
  .selected-count {
    color: green;
    font-size: 18px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
  }
  
  
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    margin-top: 20px;
  }
  
  .img-card {
    position: relative;
  }
  
  .img-card img {
    width: 100%;
    border-radius: 8px;
  }
  
 
  .checkbox {
    position: absolute;
    top: 8px;
    right: 8px;
    transform: scale(1.4);
  }
  
  .load-more-btn {
    margin: 20px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .load-more-btn:hover {
    background: #0056b3;
  }
  
  .page-wrapper {
    display: flex;
  }
  .ham{
    text-align: center;
  }

  .main-search-section {
    margin-left: 240px;
    padding: 20px;
    width: 100%;
  }
  