.navbar {
    width: 100%;
    height: 50px;
    background: #44b6a1;
    color: #fff;
    border-bottom: black 2px solid;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }

.logo {
    font-size: 22px;
    font-weight:200 bold;
  }
  
  .login-buttons button {
    margin: 0 7px;
    width: 100px;
    padding: 8px 15px;
    cursor: pointer;
    margin-right: 40px;
    border-radius:15px;
  }
  
  .user-section {
    display: flex;
    align-items: center;
    
  }
  .spam{
    margin-right: 20px;
  }
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .logout-btn {
    background: rgb(255, 179, 0);
    color: white;
    margin-right: 40px;
    padding: 7px 20px;
    cursor: pointer;
    border-radius: 15px;
  }
  
  /* Logo & brand wrapper */
.nav-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-img {
  height: 70px;
  width: 150px;
  justify-content: center;
  margin-top: 2px;
  border-radius: 15%;
  margin-left: 10px;
  transition: 0.2s;
}

.logo-img:hover {
  transform: scale(1.1);
}

.logo-text {
  color: white;
  font-weight: bold;
  margin: 0;
}
